@import '../../styles/variables.sass'

#logo
  width: 5rem

.navigation-wrapper
  background-color: $white
  display: flex
  flex-flow: row wrap
  align-content: center

  .logo, .mobile-menu-button
    flex: 1 auto

  .navigation
    flex: 1 100%

.mobile-menu-button-wrapper
  width: 5rem
  display: flex
  align-items: center
  justify-content: center

.mobile-menu-button
  transition: all .3s
  flex-grow: none
  align-self: center
  background-color: $blue-1
  max-width: 2rem
  height: .3rem
  position: relative

  &:before,
  &:after
    transition: all .3s
    position: absolute
    content: ''
    width: 2rem
    height: .3rem
    background-color: $blue-1

  &:before
    top: -.5rem

  &:after
    top: .5rem

.mobile-menu-checkbox
  display: none

  &:checked
    &~ .mobile-menu-button-wrapper .mobile-menu-button
      background-color: transparent
      transform: translate(-.6rem, 0)

      &:before
        transform: rotate(-45deg) translate(0, .7rem)

      &:after
        transform: rotate(45deg) translate(0, -.7rem)

    &~ .navigation
      max-height: 40rem
      overflow: auto

.navigation
  // width: 100%
  // flex-grow: none
  max-height: 0
  overflow: hidden
  position: relative
  z-index: 1
  display: flex
  justify-content: center
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
  flex-flow: column
  transition: all .5s

.navigation-wrapper
  position: relative
  z-index: 999

.main-nav_link
  display: block
  transition: all .3s
  color: $blue-2
  text-decoration: none
  background-color: $white
  padding: 1rem 1rem

  &:hover
    color: $blue-2
    background-color: $blue-1

  &.active
    color: $white
    background-color: $blue-3

@media screen and (min-width: 480px)
  .mobile-menu-button
    display: none

  #logo
    margin: auto
    width: 8rem

  .navigation
    max-height: 40rem
    overflow: initial
    width: 100%
    height: 4rem
    flex-flow: row

  .main-nav_link
    padding: 1.5rem 1.5rem

